<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{range .CSS}}
            <link rel="stylesheet" href="/static/css/{{.}}">
        {{end}}
    </head>

    <body>
        <div id="header">
            <div class="container">
                <span>Pangolin CMS Example Website</span>
            </div>
        </div>

        <div id="nav">
            <div class="container">
                <a href="/">Home</a>
                <a href="/starting">Starting</a>
                <a href="/config">Configuration</a>
                <a href="/contents">Write Content</a>
            </div>
        </div>

        <div id="content">
            {{range .Contents}}
                <div class="container">
                    {{.}}
                </div>
            {{end}}
        </div>

        <div id="footer">
            <div class="container">
                Powered by <a href="https://github.com/go-schild/pangolin-cms">pangolin-cms</a>.
            </div>
        </div>

        {{range .JS}}
            <script src="/static/js/{{.}}"></script>
        {{end}}
    </body>
</html>